@media (max-width: 300px) {
	html {
		font-size: 13px;
	}
}

@media (min-width: 300px) {
	html {
		font-size: 16px;
	}

	table {
		font-size: 0.7rem;
	}
}

@media (min-width: 700px) {
	html {
		font-size: 19px;
	}
	h1 {
		font-size: 5rem;
	}
	.boxes-wrapper {
		margin: 0.3em;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: stretch;

		& > :nth-child(n) {
			flex-grow: 1;
			margin: 0.7em;
			width: 40%;
		}
	}

	table {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 22px;
	}
	.boxes-wrapper {
		width: 70%;
		& > :nth-child(n) {
			width: 30%;
		}
		.portfolio-item {
			width: 40%;
		}
	}
	.offer-article--map {
		width: 70%;
	}
}

@media (min-width: 1900px) {
	.boxes-wrapper {
		& > :nth-child(n) {
			width: 20%;
		}
		.portfolio-item {
			width: 40%;
		}
	}
}
