@media (max-width: 300px) {
	html {
		font-size: 13px;
	}
	.portfolio-item__img {
		object-fit: cover;
	}
}

@media (min-width: 300px) {
	html {
		font-size: 16px;
	}
	.portfolio-item__img {
		object-fit: scale-down;
	}
}

@media (min-width: 700px) {
	html {
		font-size: 19px;
	}
	.boxes-wrapper {
		margin: 0.3em;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;

		& > :nth-child(n) {
			flex-grow: 1;
			margin: 0.3em;
			width: 48%;
		}

		.offer-article--priority .material-icons {
			margin-top: 20px;
		}
		.offer-list--priority {
			margin-top: 6px;
		}
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 22px;
	}
	.boxes-wrapper {
		width: 70%;
		& > :nth-child(n) {
			width: 30%;
		}
	}
	.offer-article--map {
		width: 70%;
	}
}
