@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.boxes-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes-wrapper > :nth-child(n) {
  margin-top: 2em;
  width: 100%;
}

.button-primary {
  display: block;
  margin: 2em 0;
  padding: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #e84855;
  border-radius: 5px;
}

header .button-primary {
  margin-top: 2em;
  margin-bottom: 4em;
}

.move-wrapper {
  position: -webkit-sticky;
  position: sticky;
  left: 50%;
  bottom: 15px;
  margin: 1.7em 0;
  margin-bottom: 0.6em;
  width: 30px;
  height: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.move-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 2px;
  height: 100%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  background-color: #e84855;
}

.move-wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 2px;
  height: 100%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  background-color: #e84855;
}

header .move-wrapper {
  position: absolute;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 400px;
  height: 100vh;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: rgba(13, 19, 33, 0.9);
}

.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__list {
  margin-top: 4em;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__link {
  display: block;
  position: relative;
  padding: 0.8em;
  overflow: hidden;
  -webkit-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
  color: #1b998b;
  background-color: #2d3047;
  border-bottom: 1px solid #0d1321;
}

.nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  -webkit-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
  background-color: #1b998b;
}

.nav__link:hover {
  color: #e84855;
}

.nav__link:hover::before {
  z-index: 2;
  background-color: #e84855;
}

.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.5em;
  width: 1.6em;
  height: 1.25em;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: 0.3s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.3s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu-btn--active .hamburger {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.menu-btn--active::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-btn--active::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger,
.menu-btn::before,
.menu-btn::after {
  position: absolute;
  height: 3px;
  width: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #e84855;
}

.hamburger {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.menu-btn::before {
  content: '';
  top: 0;
}

.menu-btn::after {
  content: '';
  bottom: 0;
}

header {
  position: relative;
  padding: 1em;
  padding-top: 5em;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

h1 {
  padding: 1em;
  padding-top: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.4rem;
  text-transform: capitalize;
  text-align: center;
  color: #2d3047;
  background-color: rgba(232, 72, 85, 0.25);
}

h1 span {
  display: block;
  margin-top: 0.5em;
  text-transform: lowercase;
  font-size: 2rem;
  line-height: 1.3;
}

.img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

.section {
  position: relative;
  padding: 1em;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--dark {
  background-color: #0d1321;
  color: #1b998b;
}

.section--light {
  color: #0d1321;
}

.section__title {
  padding: 0.8em;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.section__illustration {
  margin-bottom: 1em;
  max-width: 90vw;
  max-height: 50vh;
}

.offer-article {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #1b998b;
}

.offer-article__title {
  padding: 0.5em;
  text-transform: uppercase;
}

.offer-article .material-icons {
  margin-bottom: 0.2em;
  font-size: 4rem;
}

.offer-list {
  width: 100%;
}

.offer-list--priority {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer-list--priority > :nth-child(n) {
  width: 50%;
  text-transform: uppercase;
}

.offer-list--priority > :nth-child(n) span {
  text-transform: lowercase;
}

.offer-list__item {
  margin-top: 0.2em;
}

.offer-list__item--express {
  color: #e84855;
}

.portfolio-item {
  position: relative;
  width: 40%;
  cursor: pointer;
  border: 4px solid #e84855;
  border-radius: 5px;
}

.portfolio-item::before {
  content: '';
  background-image: url("../resources/images/woman_wonder_600w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.portfolio-item::after {
  content: '';
  background-color: rgba(13, 19, 33, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.portfolio-item__img {
  width: 100%;
  height: 100%;
  max-height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.offer-article--map {
  margin-top: 2em;
  width: 100%;
}

.google-map {
  width: 100%;
  height: 300px;
}

.about-text {
  padding: 1em;
  color: #fff;
  text-align: justify;
  background-color: rgba(232, 72, 85, 0.8);
  border-radius: 5px;
}

footer {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  color: #fff;
  background-color: #0d1321;
}

@media (max-width: 300px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 300px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 19px;
  }
  h1 {
    font-size: 5rem;
  }
  .boxes-wrapper {
    margin: 0.3em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .boxes-wrapper > :nth-child(n) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0.7em;
    width: 40%;
  }
  .boxes-wrapper .offer-article--priority .material-icons {
    margin-top: 20px;
  }
  .boxes-wrapper .offer-list--priority {
    margin-top: 6px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
  .boxes-wrapper {
    width: 70%;
  }
  .boxes-wrapper > :nth-child(n) {
    width: 30%;
  }
  .boxes-wrapper .portfolio-item {
    width: 40%;
  }
  .offer-article--map {
    width: 70%;
  }
}

@media (min-width: 1900px) {
  .boxes-wrapper > :nth-child(n) {
    width: 20%;
  }
  .boxes-wrapper .portfolio-item {
    width: 40%;
  }
  footer {
    height: 70px;
  }
}
