@import 'config';

//------------------------ COMPONENTS ---------------------------
// _______ Boxes Wrapper ________
.boxes-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	> :nth-child(n) {
		margin-top: 2em;
		width: 100%;
	}
}

// _______ Primary button ________
.button-primary {
	position: relative;
	display: block;
	margin: 2em 0;
	padding: 1em;
	width: fit-content;

	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: $col-acc;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		transition: transform 0.5s cubic-bezier(0.19, 1.36, 0.75, -0.72);
		transform: translateX(-100%);

		background: rgba(#fff, 0.3);
		border-radius: inherit;
	}

	&:hover {
		&::before {
			transform: translateX(0);
		}
	}
}
header .button-primary {
	margin-top: 2em;
	margin-bottom: 4em;
}

// _______ Move arrows ________
.move-wrapper {
	position: sticky;
	bottom: 15px;
	left: 50%;
	margin: 1.7em 0;
	margin-bottom: 0.6em;
	width: 30px;
	height: 25px;
	transform: translateX(-50%);

	cursor: pointer;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 2px;
		height: 100%;
		transform-origin: top left;
		transform: rotate(-35deg);
		background-color: $col-acc;
	}

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		content: '';
		width: 2px;
		height: 100%;
		transform-origin: top right;
		transform: rotate(35deg);
		background-color: $col-acc;
	}
}

header .move-wrapper {
	position: absolute;
	align-self: flex-start;
}

//------------------------ NAVIGATON ---------------------------
.nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	max-width: 400px;
	height: 100vh;
	z-index: 2;
	transition: transform 0.25s ease-in-out;
	transform: translateX(100%);

	background-color: rgba($col-prim-dk, 0.9);

	&--active {
		transform: translateX(0);
	}
}
.nav__list {
	margin-top: 4em;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.nav__link {
	display: block;
	position: relative;
	padding: 0.8em;
	overflow: hidden;
	transition: 0.25s all ease-out;

	color: $col-sec-lt;
	background-color: $col-prim-lt;
	border-bottom: 1px solid $col-prim-dk;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 5px;
		transition: 0.25s all ease-out;

		background-color: $col-sec-lt;
	}
}
.nav__link:hover {
	&::before {
		z-index: 2;
		background-color: $col-acc;
	}
	color: $col-acc;
}

// _______ Hamburger button ________
.menu-btn {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1.5em;
	//ON WIDTH DEPENDS SHAPE OF X
	width: 1.6em;
	height: 1.25em;
	z-index: 3;
	cursor: pointer;
	transition: 0.3s all cubic-bezier(0.445, 0.05, 0.55, 0.95);

	&--active {
		.hamburger {
			box-shadow: none;
			background-color: rgba(#000000, 0);
		}
		&::before {
			bottom: 0;
			transform: rotate(-45deg);
		}
		&::after {
			bottom: 0;
			transform: rotate(45deg);
		}
	}
}
.hamburger,
.menu-btn::before,
.menu-btn::after {
	position: absolute;
	height: 3px;
	width: inherit;
	transition: inherit;
	transform-origin: right;

	background-color: $col-acc;
}
.hamburger {
	top: 50%;
	transform: translateY(-50%);
	transition-duration: 0.2s;
}
.menu-btn::before {
	content: '';
	top: 0;
}
.menu-btn::after {
	content: '';
	bottom: 0;
}

//------------------------ HEADER ---------------------------
header {
	position: relative;
	padding: 1em;
	padding-top: 5em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}
h1 {
	padding: 1em;
	padding-top: 0.5em;
	width: fit-content;
	font-size: 3.4rem;
	text-transform: capitalize;
	text-align: center;
	color: $col-prim-lt;
	background-color: rgba($col-acc, 0.25);
	span {
		display: block;
		margin-top: 0.5em;
		text-transform: lowercase;
		font-size: 2rem;
		line-height: 1.3;
	}
}
// _______ Background Image ________
.img-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.bg-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
}

//------------------------ SECTIONS ---------------------------
// _______--------- General ---------________
.section {
	position: relative;
	padding: 1em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	&--dark {
		background-color: $col-prim-dk;
		color: $col-sec-lt;
	}
	&--light {
		color: $col-prim-dk;
	}
}
.section__title {
	padding: 0.8em;

	font-size: 2.5rem;
	font-family: $font-sec;
	text-align: center;
	text-transform: capitalize;
}
// _______ Illustrations ________
.section__illustration {
	margin-bottom: 1em;
	max-width: 90vw;
	max-height: 50vh;
}

// _______--------- Offer ---------________
.offer-article {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	border: 1px solid $col-sec-lt;
	transition: border 0.25s ease-in;

	&:hover {
		border: 1px solid $col-acc;
	}
}
.offer-article__title {
	padding: 0.5em;
	height: 4em;
	display: flex;
	align-items: center;
	text-transform: uppercase;

	&--contact {
		height: auto;
	}
}

.offer-article .material-icons {
	margin-bottom: 0.2em;
	font-size: 4rem;
}
.offer-list {
	width: 100%;
	&--priority {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		& > :nth-child(n) {
			width: 50%;
			text-transform: uppercase;

			span {
				text-transform: lowercase;
			}
		}
	}
}
.offer-list__item {
	margin-top: 0.2em;

	&--express {
		color: $col-acc;
	}
}

// _______ Pricing ________
.pricing {
	width: 100%;
	min-height: 0;
	max-height: 1px;
	padding: 0.1em;
	opacity: 0;
	overflow: hidden;

	transform: translateX(-120%);
	transition: transform 0.5s ease-out, max-height 5.5s ease-out, opacity 0.5s ease-out;
}
.pricing--active {
	transform: translateY(0);
	max-height: fit-content;
	opacity: 1;
}
table {
	border-collapse: collapse;
	font-size: 0.6rem;
}

th,
td {
	padding: 1em;
	text-align: center;
	text-transform: capitalize;
}
th {
	padding: 1em 0;
}
tr {
	border-bottom: 2px solid $col-acc;
}

.table-title {
	text-transform: uppercase;
}

tbody > :nth-child(1) {
	background: $col-acc;
	color: $col-prim-dk;

	td {
		padding: 0.4em;
	}
}

// _______--------- Portfolio ---------________
.portfolio-item {
	position: relative;
	width: 40%;

	border: 4px solid $col-acc;
	border-radius: 5px;
}

.portfolio-item::after {
	content: '';
	background-color: rgba($col-prim-dk, 0.8);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.portfolio-item__img {
	width: 100%;
	height: 100%;
	max-height: 90vh;
	object-fit: cover;
	object-position: top;
}

// _______--------- Kontakt ---------________
.offer-article--map {
	margin-top: 2em;
	width: 100%;
}
.google-map {
	width: 100%;
	height: 300px;
}

// _______--------- O nas ---------________
.about-text {
	padding: 1em;

	color: #fff;
	text-align: justify;
	background-color: rgba($col-acc, 0.8);
	border-radius: 5px;
}

//------------------------ FOOTER ---------------------------
footer {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 0.8rem;
	color: #fff;
	background-color: $col-prim-dk;
}

@import 'gallery';
@import 'responsive';
